// _variables.scss

$font-primary: 'Roboto', sans-serif;
$primary-color: linear-gradient(45deg, #ff6a00, #ee0979);
$secondary-color: #87369c;
$background-color: linear-gradient(135deg, #84b8e6, #c3cfe2);
$text-color: #2c2e31;
$button-color: linear-gradient(45deg, #89214b, #00c6ff);

$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 1rem;

$shadow-sm: 0 2px 5px rgba(0,0,0,0.1);
$shadow-md: 0 5px 15px rgba(0,0,0,0.2);
$shadow-lg: 0 8px 20px rgba(120, 48, 48, 0.3);